.opacity{
    filter: blur(5px);
    z-index: 0;
}
footer{
    background-color: #35F2F2;
    margin-top: 100%;
    padding: 50px;
    text-align: center;
}
.nav-link:hover{
    border: 2px solid #35F2F2;
    border-radius: 5px;
}
.inicioSesion{
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 370px;
    height: 320px; 
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2); 
    backdrop-filter: blur(10px); 
}
.inicioSesion h2 {
        margin-bottom: 20px;
        font-family: 'Arial', sans-serif;
        color: #333;
    }

.cajita {
    border: 2px solid rgb(186, 181, 181);
    border-radius: 5px;
    width: 275px;
    height: 30px;
    color: #c0bebe;
  }
  .botoninicio {
    border: none;
    border-radius: 5px;
    width: 275px;
    height: 40px; 
    color: white; 
    background-color: #516bfd; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
  }
  .botoninicio:hover {
    background-color: #4156d1;
  }
  .Linkinicio {
    color: #516bfd;
    font-size: smaller;
  }
