{% extends 'public/layout.html' %}

{% block body %}
  <section>
    <h2>
      <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
      Actualizar Información del Juego
      <hr>
    </h2>

    {% if juego %}
    <form id="updateForm" action="{{ url_for('editarJuego', id=juego[0]) }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <input type="text" class="form-control" name="id" value="{{ juego.id }}" required hidden>

        <div class="row">
          <div class="col">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" value="{{ juego.nombre }}" class="form-control" required>
          </div>
          <div class="col">
            <label for="categoria">Categoría</label>
            <input type="text" name="categoria" value="{{ juego.categoria }}" class="form-control" required>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" class="form-control" required>{{ juego.descripcion }}</textarea>
          </div>
          <div class="col">
            <label for="precio">Precio</label>
            <input type="text" name="precio" value="{{ juego.precio }}" class="form-control" required>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="anio_lanzamiento">Año de Lanzamiento</label>
            <input type="text" name="anio_lanzamiento" value="{{ juego.anio_lanzamiento }}" class="form-control" required>
          </div>
          <div class="col">
            <label for="plataforma">Plataforma</label>
            <input type="text" name="plataforma" value="{{ juego.plataforma }}" class="form-control" required>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="disponibilidad">Disponibilidad</label>
            <input type="text" name="disponibilidad" value="{{ juego.disponibilidad }}" class="form-control" required>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label for="foto">Foto</label>
            <input type="file" name="foto" class="form-control">
            <p>Foto actual: {{ juego.foto }}</p>
          </div>
        </div>

        <hr>
        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Actualización">
      </form>
    {% else %}
      <div class="col-12">
        <h2 class="text-center">
          No existe el Juego
        </h2>
      </div>
    {% endif %}
  </section>

  <script>
    document.getElementById("updateForm").onsubmit = function(event) {
      event.preventDefault(); // Evitar el comportamiento por defecto del formulario

      var formData = new FormData(this);
      var urlForm = "{{ url_for('editarJuego', id=juego[0]) }}";  // URL correcta de la acción

      $.ajax({
        type: "POST",
        url: urlForm,
        data: formData,
        contentType: false,
        processData: false,
        success: function(response) {
          window.location.href = '/';  // Redirigir a la página principal después de la actualización
        },
        error: function(xhr, status, error) {
          alert('Error al actualizar el juego.');
        }
      });
    };
  </script>
{% endblock %}