{% extends 'public/layout.html' %}
{% block title %}Detalles del Juego{% endblock %}

{% block body %}

<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Detalles del Juego
        <hr>
    </h2>

    {% if (infoJuego) %}
    
    <div class="card" style="width: 25rem;">
      {% set urlJuego = '/static/assets/fotos_juegos/' %}
        {% if(infoJuego.foto) %}
          <img src="{{ urlJuego }}{{ infoJuego.foto }}" class="card-img-top" alt="juego">
        {% else %}
          <img src="{{ urlJuego }}sin_foto.jpg" class="card-img-top sin_foto" alt="juego">
        {% endif %}

        <div class="card-body">
          <h5 class="card-title"> <strong>{{ infoJuego.nombre }}</strong></h5>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Categoría: <strong>{{ infoJuego.categoria }}</strong></li>
          <li class="list-group-item">Año de Lanzamiento: <strong>{{ infoJuego.year }}</strong></li>
          <li class="list-group-item">Plataforma: <strong>{{ infoJuego.plataforma }}</strong></li>
          <li class="list-group-item">Precio: <strong>${{ infoJuego.precio }}</strong></li>
          <li class="list-group-item">Favorito: <strong>{{ infoJuego.favorito }}</strong></li>
        </ul>
      </div>

    {% else %}
      <div class="col-12">
          <h2 class="text-center">
              No existe el Juego
          </h2>
      </div>
    {% endif %}

</section>

{% endblock %}