
body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

nav {
    background-color: #35F2F2;
}

footer {
    background-color: #35F2F2;
    padding: 50px;
    text-align: center;
    position: relative; 
    width: 100%; 
}

.nav-link:hover {
    border: 2px solid #35F2F2;
    border-radius: 5px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 2; 
    gap: 20px; 
    padding: 20px; 
}

.section-games {
    text-align: center;
    background-color: #35F2F2;
    padding: 20px; 
    grid-column: 1 / -1; 
}

@media only screen and (max-width: 600px) {
    .section-games {
        padding: 10px; 
    }
    
    .card {
        grid-row: auto; 
        grid-column: 1 / -1; 
    }
}